body {
    margin: 0 auto;
    padding: 10px;
    color: #333;
    word-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.blog-title {
    color: #222;
    font-size: 8vh;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 2vh;
    text-shadow: none;
}

.row {
    width: 100%;
    margin: auto;
}

/*
    Login area styling
*/

#login-area {
    font-size: 3vh;
    color: #fff;
    top: 10px;
    right: 10px;
    text-align: center;
    padding-bottom: 10vh;
    text-shadow: 2px 2px #333;
    background-image: url("images/mountain2.jpg");
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 25vh;
}

.login-link {
    color: #333;
    text-decoration: none;
    text-shadow: none;
    font-weight: bold;
}

/*
    Blog post styling
*/

.post-title {
    font-size: 5vmin;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding-left: 1%;
    color: #e3e5f2;
}

#bar {
    background-color: #373b35;
    border-bottom: 3px solid #666;
    margin-top: 0%;
    border-bottom-left-radius: 6px;
    height: 15vh;
}

#date {
    color: #fff;
    font-size: 3vmin;
    text-align: right;
    padding-right: 1%;
    padding-top: 2%;
    font-family: 'Open Sans Condensed', sans-serif;
}

#post-body {
    padding-top: 1%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    border-left: 1px dotted #333;
    border-right: 1px dotted #333;
    background-color: #e2e2e2;
}

a {
    color: #c2d3eb;
    font-weight: normal;
}

a:hover {
    color: #e3e5f2;
    text-decoration: none;
}

/*
    Forms styling
*/

#label {
    color: #000;
}

#error {
    color: red;
    padding-left: 2%;
    font-size: 13px;
}

label {
  display: block;
  font-size: 20px;
  color: #000;
}

label + label {
    margin-top: 20px;
}

input {
    font-size: 3vh;
    padding: 2px;
    margin: 2%;
    font-family: monospace;
    width: 30vw;
    text-align: center;
}

textarea {
  margin: 2%;
  width: 100%;
  height: 50%;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

#delete {
    font-color: #999;
}
/*
    Comments
*/

#comment-form {
    margin-top: 50vh;
}