* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@media only screen and (max-width: 500px) and (orientation: landscape){
	h1{
		display: none;
	}
	.row{
		background-color: blue;
	}
}
.row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: center;
}
.col-1{
	width: 8.33%;
}

.col-2{
	width: 16.67%;
}
.col-3{
	width: 25.0%;
}
.col-4{
	width: 33.33%;
	border: ridge;
	border-color: black;
	padding:10px;
}
.col-5{
	width: 41.67%;
}
.col-6{
	width: 50.0%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.67%;
}
.col-9{
	width: 75.0%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.67%;
}
.col-12{
	width: 100.0%;
}
p{
	margin: 10px;
	overflow: auto;
}
h1{
	margin:5px;
	color:green;
}