{% extends "base.html" %}
{% block content %}
<section class="container">
	<section class="row">
		<header class="col-md-12">
			<h1 style="margin-bottom: 10%; text-align: center">{{title}}</h1>
		</header>
		<div class="col-md-4"></div>
		<div class="col-md-4"  style="text-align: right">
			<form method="post">
				<h2>Sign up here!</h2>
				
				<label> Username&nbsp;
					<input type="text" name="username" value="{{username}}"> {{nameerror}}
				</label><br>
				<label> Password&nbsp;
					<input type="password" name="password"> {{pwerror}}
				</label><br>
				<label> Verify&nbsp;
					<input type="password" name="verify"> {{matcherror}}
				</label><br>
				<label> Email&nbsp;
					<input type="text" name="email" value="{{email}}"> {{emailerror}}
				</label><br>
				<input type="submit">
			</form>
		<div class="col-md-4"></div>
		</div>
	</section>
</section>
{% endblock %}