{% extends "base.html" %}
{% block content %}
<section class="container">
	<section class="row" style="text-align: center;">
		<header class="col-md-12 center">
			<h1 style="margin-bottom: 10%">Shopping List</h1>
		</header>
		<div class="col-md-12 center">
			<form>
				<h2>Add a Food</h2>
				<input type="text" name="food">
				<button>Add</button>
				{% if items %}
				<h3>Your List</h3>
				<ol>
					{% for item in items %}
						<input type="hidden" name="food" value="{{item}}">
						<li>
						{{item}}
						</li>
					{% endfor %}
				</ol>
				{% endif %}

			</form>
		</div>
	</section>
</section>
{% endblock %}