{% extends "base.html" %}

{% block content %}

<!-- Warnings -->
{% if error %}
<br>
	<div class="alert alert-danger" role="alert">
	    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	    {{error}}
	    <p>You will be redirected in 5 seconds...</p>
	    <script>
	        var timer = setTimeout(function() {
	            window.location='/blog/{{post.key().id()}}'
	        }, 5000);
	    </script>
	</div>
{% elif success %}
<br>
	<div class="alert alert-success" role="alert">
	    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	    {{success}}
	    <p>You will be redirected in 5 seconds...</p>
	    <script>
	        var timer = setTimeout(function() {
	            window.location='/blog/{{post.key().id()}}'
	        }, 5000);
	    </script>
	</div>
{% endif %}

<!--Post-->
  {{post.render() | safe}}
<div class="row">
  <section class="col-md-6"><em>Posted by {{user.name}}</em></section>
  <section align="right" id="delete" class="col-md-6"> 
  	<a href="/blog/{{post.key().id()}}/delete">delete?</a>
  </section>
</div>

<!-- Likes -->
<div class="row">
    <div class="col-md-12 right">
        <form method="post" role="form">
        	{% if num_likes %}{{num_likes}}{% else %}0{% endif %} Likes
            <button type="submit" class="btn btn-primary">Like</button>
        </form>
    </div>

<!-- Comments -->

<!-- Start Comment Form -->
            <form method="post" role="form" class="comment-form">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <input type="text" class="form-control" id="comment" value="" name="comment">
                </div>
<!-- End Comment Form -->

      <div align="right" style="margin-bottom: 5vh;">
        <button type="submit" class="btn btn-success">Submit comment</button>
        </form>
      </div>


<div class="sub-work col-md-12">
    {% for c in comments %}
    <section class="modal-footer">
    	<a class="comment-edit btn btn-primary pull-right" href="/blog/{{post.key().id()}}/{{c.key().id()}}/edit">Edit</a>
        <a class="comment-delete btn btn-danger pull-right" href="/blog/{{post.key().id()}}/{{c.key().id()}}/delete">Delete</a>
        <p align="left">{{ c.comment }}</p>
        <footer>{{ c.retrieveUser() }}</footer>
    </section>
    {% endfor %}
</div>

    </div>
<!-- End Comments -->
{% endblock %}