body {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-size: 3vh;

}

.modal-body{
	font-weight: bold;
	text-align: center;
}

img, embed, object, video{
	max-width: 100%;
}

h1 {
	text-transform: uppercase;
	font-weight: 100;
  	font-size: 8vmin;
}

h2 {
	font-weight: 300;
	color: #7d97ad;

}

h3 {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2%;
	font-size: 5vw;
  	text-overflow: clip;
  	margin-left: auto;
  	margin-right: auto;
}

h5{
	text-transform: uppercase;
	font-weight: bold;
}

#logo {
	max-height: 50vw;
	margin-top: 1%;
}

@media screen and (min-width: 800px) {
	main, body {
    	width: 850px;
    	margin-left: auto;
    	margin-right: auto;
    	font-size: 3vmin;
	}
	h3 {
		font-size: 6vmin;
	}

}

