body {
	font-family: 'Lato', sans-serif;
	font-color: #fff;
}

.modal-body{
	font-family: 'Arial', sans-serif;
	font-size: 20px;
	text-align: center;
	align-items: center;
}

img, embed, object, video{
	max-width: 100%;
}

h1 {
	text-transform: uppercase;
	font-weight: 100;
}

h2 {
	font-weight: 300;
	color: #aaa;

}

h5{
	text-transform: uppercase;
	font-weight: bold;
}